{% extends 'base.html' %}
{% block content %}

    <h1 class="text-center text-success">مواد قانون {{ law }}</h1>

    <div>
        <ol style="list-style: none" class="row">



            <ol>
    </div>

    <div>
        <ol style="list-style: none" class="row">
            <li class="m-l-50"><a href="{% url "laws:delete" law.pk %}"><i
                    class="btn btn-danger  ti-trash mr-2">حذف</i></a></li>
            <li class="m-l-50"><a href="{% url "laws:update" law.pk %}"><i
                    class="btn btn-warning ti-settings mr-2">ویرایش</i></a></li>
            <li class="m-l-50"><a href="{% url "legal:create" law.pk %}"><i class="btn btn-success  ti-plus mr-2">افزودن
                ماده</i></a></li>
        <li class="m-l-50"><h3>تگ :</h3></li>
                       {% for tag in law.tags.all %}
                <li class="m-l-20 btn btn-info" >{{ tag }}</li>
            {% empty %}
                <li></li>
            {% endfor %}
            <ol>
    </div>


    <div class="row">
        {% for article in law.articles.all %}
            <div class="col-sm-9 m-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            <ol style="list-style: none" class="row">
                                <li class="m-2"><h5>شماره ماده:{{ article.number }}</h5></li>
                                <li class="m-2"><h5>تاریخ ثبت:{{ article.approved }}</h5></li>
                                <ol>
                        </h2>
                        <p class="card-text">{{ article.description | safe }}</p>
                        <a href="{% url "legal:update" article.pk %}" class="btn btn-warning">ویرایش ماده</a>
                        <a href="{% url "legal:delete" article.pk %}" class="btn btn-danger">حذف ماده</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <h1 class="text-center m-auto text-danger">هیچ ماده ای برای این قانون ثبت شده</h1>
        {% endfor %}
    </div>


{% endblock %}