{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">

        <!-- begin::container -->
        <div class="container">

            <div class="page-header">
                <h4>داشبورد ادمین</h4>
                <small class="">خوش آمدید، <span class="text-primary"></span></small>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title mb-md-4 mb-lg-2">کل مشتریان</h6>
                                    <div class="text-center">
                                        <div class="mb-2">
                                            <span class="bar-1">2,5,9,6,5,2,4,3,7,5</span>
                                        </div>
                                        <div class="font-size-30 mb-1 font-weight-bold text-primary">{{ user_count }}</div>
                                        <p class="mb-0 text-muted">
                                            <i class="text-primary m-r-5"></i>نفر
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title mb-md-4 mb-lg-3">تعداد آگهی فعال</h6>
                                    <div class="text-center">
                                        <div class="mb-2">
                                            <span class="bar-3">2,5,9,6,5,2,4,3,7,5</span>
                                        </div>
                                        <div class="font-size-30 mb-1 font-weight-bold text-success">{{ want_ad_count }}</div>
                                        <p class="mb-0 text-muted">
                                            <i class="text-danger m-r-5"></i> عدد
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title mb-md-4 mb-lg-3">تعداد دسته بندی</h6>
                                    <div class="text-center">
                                        <div class="mb-2">
                                            <span class="bar-4">2,5,9,6,5,2,4,3,7,5</span>
                                        </div>
                                        <div class="font-size-30 mb-1 font-weight-bold text-danger">{{ category_count }}</div>
                                        <p class="mb-0 text-muted">
                                            <i class="text-danger m-r-5"></i> عدد
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title mb-md-4 mb-lg-3">کاربران ادمین</h6>
                                    <div class="text-center">
                                        <div class="mb-2">
                                            <span class="bar-1">2,5,9,6,5,2,4,3,7,5</span>
                                        </div>
                                        <div class="font-size-30 mb-1 font-weight-bold text-primary">{{ admin_count }}</div>
                                        <p class="mb-0 text-muted">
                                            <i class="text-primary m-r-5"></i> عدد
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title mb-md-4 mb-lg-3">اگهی تایید نشده</h6>
                                    <div class="text-center">
                                        <div class="mb-2">
                                            <span class="bar-3">2,5,9,6,5,2,4,3,7,5</span>
                                        </div>
                                        <div class="font-size-30 mb-1 font-weight-bold text-success">{{ not_confirmed_count }}</div>
                                        <p class="mb-0 text-muted">
                                            <i class="text-success m-r-5"></i> عدد
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title mb-md-4 mb-lg-3">بیشترین اگهی در
                                        دسته:{{ most_broadcast.category }}</h6>
                                    <div class="text-center">
                                        <div class="mb-2">
                                            <span class="bar-4">2,5,9,6,5,2,4,3,7,5</span>
                                        </div>
                                        <div class="font-size-30 mb-1 font-weight-bold text-danger">{{ most_broadcast.want_count }}</div>
                                        <p class="mb-0 text-muted">
                                            <i class="text-danger m-r-5"></i> عدد
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- end::container -->

    </div>
{% endblock content %}
